target/
build
output
output.txt
*.nupkg
*.xcframework
*.aar
*.tar.gz
bin
obj

# ONNX Runtime downloads
onnxruntime-*/
*.tgz
*.zip
libonnxruntime.so*
libonnxruntime.dylib*
onnxruntime.dll
onnxruntime.lib

models/images
!models/**/*.onnx
!models/**/*.

onnxruntime
.gradle
node_modules
**/node_modules
packages/react-native/lib