target/
build
output
*.nupkg
*.xcframework
*.aar
*.tar.gz
bin
obj

# ONNX Runtime downloads
onnxruntime-*/
*.tgz
*.zip
libonnxruntime.so*
libonnxruntime.dylib*
onnxruntime.dll
onnxruntime.lib

models/images
!models/**/*.onnx
!models/**/*.

onnxruntime